<div>
 <h3>User Info</h3>
  <%= image_tag current_user.get_profile_image(100,100) %>
  <table>
   <tr>
    <th>Name</th><th><%= current_user.name%></th>
   </tr>
   <tr>
    <th>introduction</th>
    <th><%= current_user.introduction %></th>
   </tr>
   <tr>
    <th><a class="btn btn-block btn-outline-secondary " href="/users/<%= current_user.id %>/edit"><i class=" fas fa-user-cog "></i></a>
     </th>
   </tr>
  </table>
 </div>


