

 <%= flash[:notice] %>
  <div class="pt-2 mx-auto " >
  <h1 >welcome to<i class="fas fa-book"></i><span class="font-weight-bold ">Bookers!!</span></h1>

  <p class= "pb-2">In <i class="fas fa-book"></i><span class="font-weight-bold">Bookers</span><br>

   you can share and exchange your opinions , inpressions , and emotions<br>

   about various books!</p>


   <a class="btn btn-info btn-sm btn-block mb-3" href="/users/sign_in">Log in</a>
   <a class="btn bg-success text-light btn-sm btn-block " href="/users/sign_up">Sign up</a>
  </div>
   <div class="container">
  <div class="row">
   <div class="mx-auto">
   <footer>CopyRight Infratop.inc</footer>
   </div>
  </div>
 </div>

